@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  background: #ffddae;
}

.banner {
  @apply bg-blue-600 flex justify-center w-full gap-2 text-lg text-white p-2;
}
